* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.search-form {
    display: flex;
    gap: 20px;
    height: 40px;
    margin: 10px 0;
}

.ordering-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.fa-pen-to-square {
    color: #0d6efd;
}

.fa-trash-can {
    color: #dc3545;
}

.fa-solid {
    font-size: xx-large;
}
