{% extends "_shared/_base.html" %}
{% load django_bootstrap5 %}
{% block title %}
Lista Agendamentos
{% endblock title %}
{% bootstrap_messages %}

{% block content %}

<h2>Lista Agendamentos</h2>
<div class="d-flex justify-content-between align-items-center">

    {{ filter_form.media }}
    <form method="get" class="d-flex gap-1 justify-content-between align-items-center" novalidate>
        {% bootstrap_form filter_form %}

        <button type="submit" class="btn btn-primary">Buscar</button>

    </form>

    <div class="add-button">
        <a
            href="{% url 'appointment:create' %}"
            class="btn btn-outline-success"
        >
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
</div>
{% with schedules=page_obj.object_list %}
<ul class="list-group list-group-light my-5">
    {% for sched in schedules %}
        <li class="list-group-item">
            <a class="link-secondary"
                href="{% url 'appointment:detail' sched.id %}">

                <strong>
                    {{ sched.date_time|date:"d/m/Y" }}:
                </strong>
                Agendamento para cliente
                <u>{{ sched.customer }}</u>
                .
            </a>
        </li>
    {% empty %}
    <p>Sem resultados.</p>
    {% endfor %}
</ul>
{% endwith %}
{% include "_shared/pagination.html" %}
{% endblock content %}
