<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'system:dashboard' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'record:index_customer' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'record:index_professional' %}">Profissionais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'record:index_service' %}">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment:index' %}">Agendamentos</a>
        </li>
      </ul>
      <a href="{% url 'system:logout' %}" class="btn btn-outline-dark">Sair</a>
    </div>
  </div>
</nav>
