{% extends "shared/_base.html" %}
{% block title %}Clientes - Resuldados para "{{ search_query }}"{% endblock title %}

{% block content %}
<h2>Busca Cliente "{{ search_query }}"</h2>
{% url 'record:search_customer' as search_url %}
<div class="d-flex justify-content-between align-items-center">
    {% include "shared/search-form.html" with action=search_url %}
    <p>Mostrando resultados de <strong>{{ search_query }}</strong></p>
</div>
{% include "shared/table.html" with object_list=page_obj.object_list edit_url="record:update_customer" delete_url="record:delete_customer" %}
{% include "shared/pagination.html" %}

{% endblock content %}
