{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>{% block title %}Sistema Agendamento{% endblock title %}</title>

    <link
        rel="icon"
        type="image/x-icon"
        href="{% static 'images/favicon.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        {% include "shared/navbar.html" %}
        <div class="container mt-5">{% block content %} {% endblock content %}</div>
    </body>
</html>
